<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <h1>ToDoアプリ</h1>
    <h2>一覧表示</h2>
    <ul>
        <% todos.forEach(todo=> { %>
            <li>
                <%= todo.title %> (<%= todo.limit_day %>
                <%= todo.limit_time %>) 重要度: <%= todo.importance %>
            </li>
        <% }) %>
    </ul>

    <a href="/new">新規登録</a>

</body>

</html>